
/* Pre Defined Default styling */
.lh-2{
    line-height: .1rem;
}

a{
    text-decoration: none;
}

.navbar{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.014) 0%, white 100%);
}

.logo-img{
    width: 4rem;
    height: 4rem;
}

.hero-btn{
    background-color: #212529;
    color: whitesmoke;
}

.hero-btn:hover{
    background-color: #212529f1;
    color: whitesmoke;

}

.hero-image{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.navbar-svg-button{
    width: 2vw;
    cursor: pointer;
}

.svg-button{
    border: 0 !important;
    background-color: transparent !important;
}



/* Featured Post */
.featured-post-header{
    font-family: calibri;
}



/* Leadership Post */

.banner-wrapper{
    width: 100%;
}

.leadership-banner-img{
    width:30%;
}

.btn-leadership{
    height: 30%;
    background-color: #305872;
}

.btn-leadership:hover{
    background-color: #305872ef;
    transition: all .5s ease-in-out 0s ;
}


/* Digital Marketing */
.digital-markerting-post{
    background-color: #F8F9FA;
}

.img-wrapper{
    width: 100%;
    height: 20rem;
}

.card-body-content{
    position: absolute;
    bottom: .3rem;
    left: .5rem;

}

.card-title a{
    color: rgb(255, 255, 255);

}

.card-title a:hover{
    color: rgba(255, 255, 255, 0.897);
}

.card-text-author-date{
    color: rgba(255, 255, 255, 0.603);
    
}

/* Health */
.health-post-card-img{
    width: 10rem;
    height: 10rem;
}

.aside-post-card{
    height: 33rem;
}


/* Marquee  */
.marquee-container {
  width: 100%;
  overflow: hidden;
  background: #212529;
  padding: 1rem 0;
  color: white;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 60s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 40px;
  font-size: 16px;
}

.marquee-item span{
    padding: 0 .2rem;
    font-weight: bold;
}

.currency-image{
    width: 2rem;
    margin: 0 .5rem;
}



@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}











@media screen and (max-width: 520px){
    .aside-post-card{
        height: 10rem;
        background-color: #212529;
        border-radius:0;
    }
}