
/* Pre Defined Default styling */
.lh-2{
    line-height: .1rem;
}

a{
    text-decoration: none;
}

.navbar{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.014) 0%, white 100%);
}

.logo-img{
    width: 4rem;
    height: 4rem;
}

.hero-btn{
    background-color: #212529;
    color: whitesmoke;
}

.hero-btn:hover{
    background-color: #212529f1;
    color: whitesmoke;

}

.hero-image{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.navbar-svg-button{
    width: 2vw;
    cursor: pointer;
}

.svg-button{
    border: 0 !important;
    background-color: transparent !important;
}



/* Featured Post */
.featured-post-header{
    font-family: calibri;
}



/* Leadership Post */

.banner-wrapper{
    width: 100%;
}

.leadership-banner-img{
    width:30%;
}

.btn-leadership{
    height: 30%;
    background-color: #305872;
}

.btn-leadership:hover{
    background-color: #305872ef;
    transition: all .5s ease-in-out 0s ;
}


/* Digital Marketing */


.img-wrapper{
    width: 100%;
    height: 20rem;
}

.card-body-content{
    position: absolute;
    bottom: .3rem;
    left: .5rem;

}

.card-title a{
    color: rgb(255, 255, 255);
}

.card-title a:hover{
    color: rgba(255, 255, 255, 0.897);
}

.card-text-author-date{
    color: rgba(255, 255, 255, 0.603);
    
}