
/* Pre Defined Default styling */
.lh-2{
    line-height: .1rem;
}

a{
    text-decoration: none;
}

.navbar{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.014) 0%, white 100%);
}

.logo-img{
    width: 4rem;
    height: 4rem;
}

.hero-btn{
    background-color: #212529;
    color: whitesmoke;
}

.hero-btn:hover{
    background-color: #212529f1;
    color: whitesmoke;

}

.hero-image{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.navbar-svg-button{
    width: 2vw;
    cursor: pointer;
}

.svg-button{
    border: 0 !important;
    background-color: transparent !important;
}



/* Featured Post */
.featured-post-header{
    font-family: calibri;
}



/* Leadership Post */
.leadership-banner-img{
   object-fit: cover;
   width: inherit;
   height: inherit;
}