
/* Pre Defined Default styling */
.lh-2{
    line-height: .1rem;
}



.logo-img{
    width: 4rem;
    height: 4rem;
}

.hero-image{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.navbar-svg-button{
    width: 2vw;
    cursor: pointer;
}

.svg-button{
    border: 0 !important;
    background-color: transparent !important;
}